.good-item_container {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #D3E3CE;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  width: 350px;
  height: 240px;
  margin: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: column nowrap;
  opacity: 0.95;
  cursor: pointer;

  & img {
    margin: auto;
    padding-top: 20px;
  }

  &:hover {
    opacity: 1;
    transition: 1s;
    width: 360px;
    height: 250px;
    margin: 35px;
  }
}

.good-item_info {
  display: flex;
  flex: 1;
  width: 90%;
  padding-bottom: 5px;
  margin: 5px 20px; 
  align-items: flex-end;

  & h1 {
    flex: 2;
    font-family: MurreyC;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 27px;
    letter-spacing: 3px;
    color: rgba(66, 58, 58, 0.85);
  }
  & .category-item_button {
    flex: 1;
    cursor: pointer;
    appearance: none;
    padding: 15px 16px;
    background: #6FCF97;
    color: white;
    border-radius: 5px;
    border: 0;
    
    height: 26px;
    width: 94px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: MurreyC;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    // line-height: 36px;
    letter-spacing: 1px;
    white-space: nowrap;
  
  }
}