.container {
  max-width: 1366px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  min-height: calc(100vh - 101px);
}

.choose {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 76px;

  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.85);
  padding-top: 40px;
}

.search-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: auto;
  & label {margin-top: 20px;}
  & input {
    height: 30px;
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    outline: none;
    color: #9E9C9C;
  }
}

.items_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: 20px 20px;
}

