.drawer-container{
    background-color: #fff;
    color: #161616;
    display: flex;
    flex-direction: column;
    width: 320px;
    max-height: 100vh;
    text-align: start;
    justify-content: start;
    align-items: start;
}
.drawer-close_button {
    display: flex;
    background-color: #1D6ECD;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        width: 34px;
        height: 17px;
        &:hover {
            width: 51px;
            height: 26px;
        }
    }
}
.drawer-list {
    padding-left: 33px; 
    max-width: 150px;
}
.drawer-list-element{
    cursor: pointer;
    font-family: Podkova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px; 
    color: #161616;
    &:hover{
        color: #161616ab
    }
}


.header-menu_basic-info_time--drawer{
    display: flex;
    margin-left: 33px;
    max-height: 100px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    img {
        max-width: 32px;
        max-height: 32px;
    }
    p {
        margin-left: 17px;
        align-items: center;
        text-align: center;
        font-family: Podkova;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: black;
    }
}

.header-menu_basic-info_tel--drawer{
    margin-left: 33px;
    margin-top: 33px;
    display: flex;
    max-height: 100px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    img {
        align-items: center;
        text-align: center;
        max-width: 32px;
        max-height: 32px;
    }
    p {
        margin-left: 17px;
        align-items: center;
        text-align: center;
        font-family: Podkova;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: black;
    }
}