.header-menu {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    max-height: 100px;
    min-width: 100vw;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #fff;
   > img {
        margin-top: 20px;
        margin-left: 107px;
        max-height: 50px;
        @media only screen and (max-width: 1080px) {
            margin-left: 20px;
          }
    }
}

.header-menu_basic-info{
    display: flex;
    max-height: 100px;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.header-menu_basic-info_time{
    display: flex;
    max-height: 100px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    img {
        max-width: 32px;
        max-height: 32px;
    }
    p {
        margin-left: 17px;
        align-items: center;
        text-align: center;
        font-family: Podkova;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: black;
    }
    @media only screen and (max-width: 940px) {
        display: none;
      }
}
.header-menu_basic-info_tel{
    margin-left: 70px;
    display: flex;
    max-height: 100px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    img {
        align-items: center;
        text-align: center;
        max-width: 32px;
        max-height: 32px;
    }
    p {
        margin-left: 17px;
        align-items: center;
        text-align: center;
        font-family: Podkova;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: black;
    }
    @media only screen and (max-width: 1080px) {
        margin-left: 20px;
      }
}

.header-menu_button {
    margin-left: 50px;
    display: flex;
    width: 320px;
    height: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #1D6ECD;
    font-family: Podkova;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.23em;
    &:hover {
        background-color: #347aca;
        cursor: pointer;
    }
}