.art-header {
    display:flex;
    justify-content: space-between;
    max-height: calc(100vh - 100px);
    @media only screen and (max-width: 1010px) {
        justify-content: center;
      }
}
.art-header_left {
    max-width: 50vw;
    min-height: 50vw;
    padding-left: 103px;
    padding-top: 104px;
    margin-bottom: 30px;
    h1 {
        font-family: Podkova;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 47px;
        color: #161616;
        max-width: 552px;
    }
    @media only screen and (max-width: 1010px) {
        padding-left: 0;
      }
}
.art-header_left_first-paragraph {
    font-family: Podkova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.16em;
    color: #161616;
    max-width: 325px;
}
.art-header_left_second-paragraph {
    font-family: Podkova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #77818E;
    max-width: 537px;
}
.art-header_left_buttons {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
}



.art-header_right {
    img {
        max-width: 48vw;
    }
    @media only screen and (max-width: 1010px) {
        display: none;
      }
}

.why-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.why-info_block_main {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 354px;
    background-image: url('../../static/why-dental-main.png');
    background-repeat: no-repeat;
    background-size: 1250px;
    p {
        max-width: 625px;
        font-family: Podkova;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 147.3%;
        color: #161616;
    }
    
}

.why-info {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.why-info_block_cards {
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.why-info_block_cards_red {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-end;
    width: 354px;
    height: 195px;
    background-image: url('../../static/red-card.png');
    background-repeat: no-repeat;
    background-size: 354px;
    p {
        text-align: left;
        max-width: 354px;
        font-family: Podkova;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        padding-left: 26px;
        padding-bottom: 22px;
    }
}
.why-info_block_cards_blue {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-end;
    width: 354px;
    height: 195px;
    background-image: url('../../static/blue-card.png');
    background-repeat: no-repeat;
    background-size: 354px;
    p {
        max-width: 354px;
        font-family: Podkova;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        padding-left: 26px;
        padding-bottom: 22px;
    }
}
.why-info_block_cards_yellow {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-end;
    width: 354px;
    height: 195px;
    background-image: url('../../static/yellow-card.png');
    background-repeat: no-repeat;
    background-size: 354px;
    p {
        max-width: 354px;
        font-family: Podkova;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        padding-left: 26px;
        padding-bottom: 22px;
    }
}